@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 30px;
}

.heading span {
  font-size: 0.941rem;
  color: rgb(2, 166, 70);
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FDB750;
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.logo {
  font-size: 1.61rem;
  font-weight: 600;
  color: #0f0c27;
}

.logo span {
  font-size: 1.61rem;
  font-weight: 600;
  color: crimson;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: #0f0c27;
  font-weight: 500;
}

.navbar a:hover {
  color: hsl(260, 100%, 51%);
  background-color: crimson;
  color: white;
  border-radius: 10px;
}


.login-btn{
  margin-right: -20px;
  background-color: greenyellow;
}

 button{
    background-color: crimson;
    padding: 10px;
    width: auto;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 800;
}


section {
  padding: 50px 10%;
}

.home {
  /* position: relative; */
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  background-color: #F4EAEA;
}


.home-img {
 width: 50%;
 height: auto;
 margin-top: 0;
 background-size: cover;
 margin-left: 120px;
}

.home-img > img{
    border-radius: 10px;
    width: 100%;
}



.home-text{
  font-size: 24px;
  width: 50%;
  font-weight: 400;
  line-height: 40px;
  margin-right: 50px;
}

.home-text > button{
    margin-top: 20px;
    background-color: crimson;
    padding: 10px;
    width: auto;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 800;
}

.partners-logo{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.books-pic, .choose-your-club{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.popular-authors-h1, .featured-books > h1{
  text-align: center;
  margin-bottom: 60px;
}

.second{
  margin-top: 50px;
}

.underlined-paragraph{
  text-decoration: underline;
}

.featured-books > button{
  color: white;
  background-color: crimson;
  padding: 10px;
  width: 190px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  align-content: center;
}

.update{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDB750;
  height: 344px;
}

 hr {
  width: 20%;
  color: #0f0c27;
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  /* border: none; */
}

form > input {
 width: 525px;
 height: 45px;
 border-radius: 9px;
 border: none;
 background-color: #FFFBFB;
 text-align: center;
}

form > button{
  background-color: black;
  margin-left: 5px;
  width: 300px;
  height: 45px;
}

.join-club{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.join-club-text{
 font-size: 24px;
  margin-left: 300px;
  width: 50%;
}

.join-club-text > button{
  width: 300px;
  color: white;
  font-weight: bold;
  align-items: center;
  margin-left: 200px;
  margin-top: 30px;
  height: 54px;
}


.our-appl-sect{
  background-color: #F4EAEA;
  margin-left: auto;
  margin-right: auto;
}
.our-appl{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.our-appl-text{
  margin-left: 300px;
  font-size: 24px;
  width: 50%;
  font-weight: 500;
  margin-top: 70px;
}

.popular-authors-sect{
  background-color: #FDB750;
  height: 750px;
}

.popular-authors-btn-div{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0px;
} 


.popular-authors-btn-div > button{
  background-color: #FC2E20;
  width: 300px;
  margin: 70px;
}

.faqs-sect{
  text-align: center;
  text-decoration: underline;
  color: #3C949A;
}

footer{
  background-color: #000000;
  height: 500px;
  color: #F4EAEA;
}

.footer-div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-seperate{
  width: 30%;
}

.footer-div > div{
  margin-top: 200px;
}

.footer-logo{
  color: #F4EAEA;
}

.footer-form{
  margin-bottom: 40px;
}
.footer-form-h1{
  margin-bottom: 20px;
  
}
.footer-form-btn{
  background: #FC2E20;
  height: 55px;
}

form > input{
  background-color: #FFFBFB;
  height: 55px;
}


.footer-seperate-text{
  margin-top: 20px;
}